.cat-wrap {
    position: fixed;
    background-color: #c3c7c9;
    color: white;
    width: 28em;
    top: 7%;
    left: 50%;
    margin-top: -1em; /* Negative half of height. */
    margin-left: -14em;
    border-radius: .2em;
    padding-bottom: 1.5em;
}

@media (max-width: 570px) {
    .cat-wrap {
        width: 20em;
        margin-left: -10em;
    }
}