input {
    font-size: 4rem;
    cursor: pointer;
    height: 2em;
    width: 2em;
    text-align: center;
}

@media (max-width: 570px) and (min-width: 401px) {
    input {
        font-size: 3.5rem;
        height: 1.5em;
        width: 1.5em;
    }
}

@media (max-width: 400px) {
    input {
        font-size: 2.5rem;
        height: 1em;
        width: 1em;
    }
}