input {
    font-size: 4rem;
    cursor: pointer;
    height: 2em;
    width: 2em;
    text-align: center;
}

@media (max-width: 570px) {
    input {
        height: 1.5em;
        width: 1.5em;
    }
}